h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #434455;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
/*Logotype*/

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-link {
  position: relative;
  color: #404bbf;
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

.text-logo {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo-link {
  color: #2e2f42;
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

/*Header*/

.page-head {
  border-bottom: 1px solid #e7e9fc;
}
.menu-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: calc((100% - 3 * 24px) / 4);
}
.logo-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 72px;
  background-color: #404bbf;
  border-radius: 2px;
}
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

/*Adress*/

.page-address {
  font-style: normal;
}
.logo-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus {
  color: #404bbf;
}

.menu-link-link {
  display: block;
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link-link:hover,
.menu-link-link:focus {
  color: #404bbf;
}
/*====Information section====*/

.tech-icons-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #000;
}

/*HERO*/
.hero-section {
  height: 600px;
  padding: 188px 0;
  background-position: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/image-name.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.section-top {
  color: #fff;
  justify-content: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: 495px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*Our team*/

.team-section {
  background-color: #f4f4fd;
}

.menu-item-team {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-right: 24px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social-networks-item {
  width: 40px;
  height: 40px;
}
.team-icon-view {
  display: flex;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  fill: #f4f4fd;
}
.team-icon-view:hover,
.team-icon-view:focus {
  background-color: #404bbf;
}
.endli {
  margin-right: 0;
}
.section-item {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.section-team {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 0px;
  margin-bottom: 72px;
  padding-left: 0px;
  padding-right: 0px;
}
.section-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.names-list {
  padding: 32px 0;
  text-align: center;
  margin-bottom: 8px;
}
.persons-list {
  padding: 32px 0;
  text-align: center;
  margin-bottom: 8px;
}
.tom-ford {
  padding-top: 32px;
  padding-left: 88px;
  padding-right: 88px;
  margin-bottom: 8px;
}

.camila-garcia {
  padding-top: 32px;
  margin-bottom: 8px;
  padding-left: 66.5px;
  padding-right: 66.5px;
}

.daniel-wilson {
  padding-top: 32px;
  margin-bottom: 8px;
  padding-left: 68.5px;
  padding-right: 68.5px;
}

.section-position {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.last-name {
  padding-top: 4px;
  padding-bottom: 32px;
}
.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/*====Our Portfolio====*/
.section-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 0px;
  margin-bottom: 72px;
  padding-left: 0px;
  padding-right: 0px;
}
.menu-item-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-portfolio:hover .appear-txt {
  transform: translateY(0%);
}
.menu-item-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.appear {
  position: relative;
  overflow: hidden;
}
.appear-txt {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.banking-apps {
  padding-top: 32px;
  padding-bottom: 4px;
  padding-left: 16px;
}

.online-courses {
  padding-top: 32px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 202px;
}
.section-services {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-value {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.banking {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 314px;
}
.our-portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.services-list {
  margin-bottom: 8px;
}

.marketing-payment {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 269px;
}

.meditation {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 314px;
}
.marketing-service {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 269px;
}
.design {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 293px;
}
.marketing-courses {
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 269px;
}
/*Footer*/

.end {
  background-color: #2e2f42;
}

.end-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.end-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  padding-bottom: 100px;
  margin-top: 16px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-top: none;
}
.general-head-container {
  justify-content: space-between;
  display: flex;
  column-gap: 40px;
}
.general-team-container {
  height: 732px;
  padding-top: 120px;
  padding-bottom: 60px;
}

.page-head {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-navigation {
  display: flex;
  column-gap: 76px;
  align-items: center;
}
.menu-navigation {
  display: flex;
  gap: 40px;
}
.contacts {
  display: flex;
  gap: 40px;
}
.menu-item-number-mail {
  margin-right: 0;
}

/*===informative section===*/

.section-informative {
  display: flex;
  padding-bottom: 120px;
}
.info-section {
  padding: 120px 0;
}
.menu {
  display: flex;
  row-gap: 48px;
  gap: 24px;
}
.menu-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/*===team section===*/
.team-section {
  padding: 120px 0;
}
/*===portfolio section===*/
.portfolio-section {
  padding: 120px 0 120px 0;
}
/*==footer section===*/

.general-footer-container {
  height: 312px;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}
.social-icons-txt {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-icons-form {
  display: flex;
  gap: 16px;
}

.end {
  padding: 100px 0;
}
.footer-icon-view {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-form-item {
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
}
.footer-icon-view:hover,
.footer-icon-view:focus {
  background-color: #31d0aa;
}
.footer-modal {
  margin-left: 80px;
}
.footer-modal-txt {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
  color: #ffffff;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-button {
  display: flex;
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.footer-icon {
  margin-left: 16px;
}
/*====MODAL====*/
.footer-icon-top {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-inside-modal-window:hover,
.button-inside-modal-window:focus {
  fill: #ffffff;
}
.inside-form {
  margin-bottom: 8px;
}
.inside-form-text {
  margin-bottom: 16px;
}
.wishes {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.wishes:focus {
  border-color: #4d5ae5;
}
.bottom-form {
  margin-bottom: 16px;
}
.txt-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.txt-area:focus {
  border-color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}

.inside-form-item {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.field-top {
  position: relative;
}
.icon-item {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-data {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-data:focus {
  border-color: #4d5ae5;
}

.general-modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inside-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.inside-modal-window-txt {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.button-inside-modal-window {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-inside-modal-window:hover,
.button-inside-modal-window:focus {
  background-color: #404bbf;
  border: none;
}
.user-privacy-item {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.text-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.send-data {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.link-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}

.checkbox-item:checked + .user-privacy-item > .link-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
input:focus + svg {
  fill: #4d5ae5;
}
.privacy-link {
  color: #4d5ae5;
}

.last-icon {
  width: 16px;
  height: 16px;
}

/* <div class="field-top">
              <input
                class="user-data"
                id="Comment"
                name="user-comment"
                type="text"
              />
            </div>
*/
